<div class="row" id="users">
  <div class="col-md-6 pull-right">
    <div class="panel panel-success">
      <div class="panel-heading">All of users</div>
      <table class="table table-striped">
        <tbody>
          <% @users.each_with_index do |user, index| %>
            <tr>
              <td><%= image_tag "http://placehold.it/40x40", class: "media-object" %></td>
              <td><%= user.email %></td>
              <td><%= user.online? ? "<i class='glyphicon glyphicon-adjust text-success'></i>".html_safe : "<i class='glyphicon glyphicon-adjust text-muted'></i>".html_safe %></td>
              <td><%= link_to "Send message", "#", class: "btn btn-success start-conversation", "data-sid" => current_user.id, "data-rid" => user.id %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
